html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', serif;
  line-height: 1.2;
  font-weight: 400;
  color: #11263a;
  background-color: rgb(248, 249, 250);
  position: relative;
}

section {
  margin: 5.3125rem 0;
  scroll-margin-top: 10.25rem;
}

div:has(> svg) {
  width: 1.5625rem;
  height: 1.5625rem;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

ul {
  list-style-type: none;
}

.title {
  text-align: center;
  font-size: clamp(2rem, 1.2rem + 1.5vw, 3rem);
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.heading {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.seporator {
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.zig-zag {
  display: block;
  width: 100%;
  height: 24px;
}

@media (max-width: 1200px) {
  section {
    margin: 3.3125rem 0;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
