/* @font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.woff2") format("woff2"),
    url("../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assetsfonts/Montserrat-Bold.woff2") format("woff2"),
    url("../assetsfonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  
  font-display: swap;
} */

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;

  font-display: swap;
}
