.about__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.about__title {
  text-align: center;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.about__descr {
  text-align: center;
  font-size: 1.3125rem;
}
