.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.contacts__item,
.contacts__timing {
  display: flex;
  align-items: center;
  padding: 2.0625rem 1.5625rem;
  background: rgba(231, 231, 231, 0.5);
  color: #000;
  font-size: clamp(1rem, 0.938rem + 0.31vw, 1.313rem);
}

.contacts__item {
  flex: 1 0 25rem;
}

.contacts__timing {
  gap: 1rem;
  width: 100%;
}

.contacts__item:has(.contacts__social) {
  gap: 4.875rem;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contacts__phone,
.contacts__whatsapp,
.contacts__telegram,
.contacts__mail {
  color: inherit;
  transition: color 0.3s;
}

.contacts__icon {
  display: flex;
  align-items: center;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 100%;
  background-color: #000;
  padding: 0.55rem;
  transition: background-color 0.3s;
}

#phone,
#whatsapp,
#telegram {
  fill: #fff;
}

#mail {
  stroke: #fff;
}

@media (hover: hover) {
  .contacts__phone:hover {
    color: #1971f3;
  }

  .contacts__phone:hover .contacts__icon {
    background-color: #1971f3;
  }

  .contacts__whatsapp:hover {
    color: #25d366;
  }

  .contacts__whatsapp:hover .contacts__icon {
    background-color: #25d366;
  }

  .contacts__telegram:hover {
    color: #0088cc;
  }

  .contacts__telegram:hover .contacts__icon {
    background-color: #0088cc;
  }

  .contacts__mail:hover {
    color: #ea4335;
  }

  .contacts__mail:hover .contacts__icon {
    background-color: #ea4335;
  }
}

@media (max-width: 1300px) {
  .contacts__item {
    width: calc((100% / 2) - 1.8rem);
  }
  .contacts__item:has(.contacts__social) {
    gap: 1.875rem;
  }
}

@media (max-width: 1200px) {
  .contacts__item {
    width: 100%;
  }

  .contacts__item:has(.contacts__social) {
    gap: 5.875rem;
  }

  .contacts__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 460px) {
  .contacts__item {
    flex: none;
    width: 100%;
  }

  .contacts__item:has(.contacts__social) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
