.footer {
  margin: 2rem;
}

.footer__wrapper,
.footer__created {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #07090a;
  text-align: center;
  font-size: 0.75rem;
}

.footer__wrapper {
  flex-direction: column;
}

.footer__created {
  justify-content: flex-end;
  margin-top: 0.5rem;
  gap: 0.2625rem;
}

.footer__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

@media (hover: hover) {
  .footer__link:hover {
    opacity: 0.7;
  }
}
