.payment {
  margin: 3rem 0;
}

.payment__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.payment__terms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payment__term {
  display: block;
  width: 100%;
  padding-bottom: 0;
  overflow: hidden;
  transition: padding 0.3s;
}

.payment__term[open] .payment__arrow {
  transform: rotate(90deg);
}

.payment__term::details-content {
  height: 0;
  opacity: 0;
  overflow: clip;
  transform: translateY(-20px);
  transition:
    height 0.3s,
    content-visibility 0.3s allow-discrete,
    opacity 0.3s,
    transform 0.3s;

  interpolate-size: allow-keywords;
}

.payment__term[open]::details-content {
  opacity: 1;
  height: auto;
  transform: translateY(0);
}

.payment__arrow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url('../../assets/img/icons/arrow.svg') no-repeat center / contain;
  transition: transform 0.3s;
}

.payment__subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e4e4;
  padding: 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
}

.payment__subtitle::marker,
.payment__subtitle::-webkit-details-marker {
  display: none;
  content: '';
}

.payment__sublist {
  list-style: circle;
  list-style-position: inside;
  padding-left: 1.5rem;
}

.payment__description,
.payment__details-subtitle {
  padding: 8px 16px;
}

.payment__details-subtitle {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-underline-position: from-font;
}

.payment__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

@supports (interpolate-size: allow-keywords) {
  .payment__term::details-content {
    transition:
      height 0.3s,
      content-visibility 0.3s allow-discrete,
      opacity 0.3s,
      transform 0.3s;

    interpolate-size: allow-keywords;
  }
}

@supports not (interpolate-size: allow-keywords) {
  .payment__term::details-content {
    transition: none;
  }
}

@media (hover: hover) {
  .payment__subtitle:hover,
  .payment__term:hover::after {
    opacity: 0.5;
  }
}
