.prices__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.prices__details {
  display: flex;
  justify-content: space-between;
}

.prices__info {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.prices__language,
.prices__price {
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

.prices__price {
  flex-shrink: 0;
}

.prices__note {
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.prices__terms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
}

.prices__subtitle {
  font-weight: 600;
  font-size: 0.9rem;
}

.prices__terms-description {
  font-size: 0.8rem;
}

@media (max-width: 460px) {
  .prices__details,
  .prices__notes {
    flex-direction: column;
    align-items: flex-end;
  }
}
