* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  background-color: $color-bg;
  color: $color-primary;
  line-height: 1.2;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color 0.3s ease;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 32px 0;
}

.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZmlsdGVyIGlkPSJuIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjgiIG51bU9jdGF2ZXM9IjIiIHN0aXRjaFRpbGVzPSJub1N0aXRjaCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbHRlcj0idXJsKCNuKSIgb3BhY2l0eT0iMC4wNSIvPjwvc3ZnPg==');

  pointer-events: none;
  opacity: 0.8;
  z-index: -1;
  filter: grayscale(100%);
}

.divider {
  border: none;
  border-top: 1px dashed $color-accent;
  margin: 0 auto;
  width: 60%;
}

@-moz-document url-prefix() {
  .noise-overlay {
    display: none;
  }
}
